<div class="login-container">
<div class="container">
    <h1>Recherche de biens immobiliers</h1>
  
    <!-- Formulaire de recherche -->
    <form (ngSubmit)="searchBiens()">
      <div class="form-group">
        <label for="localisation">Adresse</label>
        <input type="text" [(ngModel)]="filters.adresse" formControlName="adresse" class="form-control" placeholder="Entrez l'adresse">
      </div>
      <div class="form-group">
        <label for="type">Type de bien</label>
        <select [(ngModel)]="filters.type" formControlName="type" class="form-control">
          <option value="">Tous</option>
          <option value="appartement">Appartement</option>
          <option value="maison">Maison</option>
          <option value="terrain">Terrain</option>
          <option value="bureau">Bureau</option>
        </select>
      </div>
      <div class="form-group">
        <label for="prix_min">Prix</label>
        <input type="number" [(ngModel)]="filters.prix" formControlName="prix" class="form-control" placeholder="Prix">
      </div>
      <!-- <div class="form-group">
        <label for="prix_max">Prix maximum</label>
        <input type="number" [(ngModel)]="filters.prix_max" name="prix_max" class="form-control" placeholder="Prix maximum">
      </div>
      <div class="form-group">
        <label for="superficie_min">Superficie minimum (m²)</label>
        <input type="number" [(ngModel)]="filters.superficie_min" name="superficie_min" class="form-control" placeholder="Superficie minimum">
      </div> -->
      <!-- <div class="form-group">
        <label for="superficie_max">Superficie maximum (m²)</label>
        <input type="number" [(ngModel)]="filters.superficie_max" name="superficie_max" class="form-control" placeholder="Superficie maximum">
      </div> -->
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
  
    <!-- Résultats de la recherche -->
    <div *ngIf="biens.length > 0">
      <h2>Résultats</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Addresse</th>
            <th>Type</th>
            <th>Prix</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bien of biens">
            <td>{{ bien.titre }}</td>
            <td>{{ bien.adresse }}</td>
            <td>{{ bien.type }}</td>
            <td>{{ bien.prix }} €</td>
            <!-- <td>{{ bien.superficie }} m²</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
