<div>
    <a href="bien-form" type="submit" class="btn btn-gray">AjouterBien</a>
</div>
<!-- Liste des transactions pour le gestionnaire -->
<form action="acceptTransaction(transaction.id)">
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Bien</th>
        <th>Locataire</th>
        <th>Statut</th>
        <th>Type</th>
        <th>Montant</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.propriete_id }}</td>
        <td>{{ transaction.user_id }}</td>
        <td>{{ transaction.statutTransaction }}</td>
        <td>{{ transaction.typePropriete}}</td>
        <td>{{ transaction.montant}}</td>
        <th>{{ transaction.dateTransaction}}</th>
        <td>
          <button>Accepter</button>
          <a href="rejectTransaction(transaction.id)">Rejeter</a>
        </td>
      </tr>
    </tbody>
  </table>
</form>