<div class="page-wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <header class="main-header header-style-one">
        <!--Header Top-->
        <div class="header-top">
            <div class="auto-container clearfix">
                <div class="top-left clearfix">
                    <div class="text"><span class="icon flaticon-call-answer"></span> Need help? Call Us Now : <a href="tel:1800-456-7890" class="number">1800 456 7890</a></div>
					
                </div>
                <div class="top-right clearfix">
                    <!-- Info List -->
					<ul class="info-list">
                        <li><a href="about.html">Our Story</a></li>
                        <li><a href="blog.html">Inspiration</a></li>
						<li class="quote"><a href="contact.html">Get Free Quote</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <!--Info-->
                    <div class="logo-outer">
                        <div class="logo "><a href="index-2.html"><img src="assets/images/CaptureS.SPNG.PNG" alt="" title=""></a></div>
                    </div>

                    <!--Nav Box-->
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler For Mobile--><div class="mobile-nav-toggler"><span class="icon flaticon-menu-1"></span></div>
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->      
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-1"></span>
                                </button>
                            </div>
                            
                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                               
									
                                    <li><a href="contact.html">Contact</a></li>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
						
						<!-- Outer Box -->
                        <div class="outer-box clearfix">
                            <div class="search-box-btn"><span class="icon flaticon-magnifying-glass-1"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->

    	<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index-2.html"><img src="assets/images/logo.png" alt="" title=""></a></div>
                <ul class="navigation clearfix"><!--Keep This Empty / Menu will come through Javascript--></ul>
				<!--Social Links-->
				<div class="social-links">
					<ul class="clearfix">
						<li><a href="#"><span class="fab fa-twitter"></span></a></li>
						<li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
						<li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
						<li><a href="#"><span class="fab fa-instagram"></span></a></li>
						<li><a href="#"><span class="fab fa-youtube"></span></a></li>
					</ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/5.jpg)">
    	<div class="auto-container">
        	<h2>Vente de beins</h2>
			<a href="vente-form" type="submit" class="btn btn-gray">Effectuer une transaction</a>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Services Page Section -->
	<section class="services-page-section">
		<div class="auto-container">
			
			<!-- Sec Title -->
			<div class="sec-title light centered">
				<h2>Nous fournissons différents services de vente dans le domaine de l'immobilier</h2>
				<div class="text">Stratégies de survie pour assurer une domination proactive. En fin de compte, à l'avenir, une nouvelle normalité qui a évolué à partir de la génération X est sur la voie d'une solution cloud rationalisée. Le contenu généré par l'utilisateur en temps réel aura plusieurs.</div>
			</div>
			
			<div class="row clearfix">
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="residental-interior.html"><img src="assets/images/resource/service-8.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="residental-interior.html">Residence interieure</a></h3>
							<div class="text">Éliminez la fracture numérique grâce à des clics supplémentaires de DevOps. L'initiative nanotechnologique le long de l'autoroute de 
                                l'information bouclera la boucle.</div>
							<a href="residental-interior.html" class="read-more">En savoir plus</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="office-interior.html"><img src="assets/images/resource/service-9.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="office-interior.html">Appartement</a></h3>
							<div class="text">Éliminez la fracture numérique grâce à des clics supplémentaires de DevOps. L'initiative nanotechnologique le long de l'autoroute de 
                                l'information bouclera la boucle.</div>
							<a href="office-interior.html" class="read-more">En savoir plus</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="500ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="commercial-interior.html"><img src="assets/images/resource/service-10.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="commercial-interior.html">Maison</a></h3>
							<div class="text">Éliminez la fracture numérique grâce à des clics supplémentaires de DevOps. L'initiative nanotechnologique le long de l'autoroute de 
                                l'information bouclera la boucle.</div>
							<a href="commercial-interior.html" class="read-more">En savoir plus</a>
						</div>
					</div>
				</div>
				
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="commercial-interior.html"><img src="assets/images/resource/service-12.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="commercial-interior.html">Appartement moderne</a></h3>
							<div class="text">Éliminez la fracture numérique grâce à des clics supplémentaires de DevOps. L'initiative nanotechnologique le long de l'autoroute de 
                                l'information bouclera la boucle.</div>
							<a href="commercial-interior.html" class="read-more">En savoir plus</a>
						</div>
					</div>
				</div>
				
				<!-- Service Block -->

				
				<!-- Service Block -->
				
				<!-- Service Block -->
				<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="250ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="commercial-interior.html"><img src="assets/images/resource/service-15.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="commercial-interior.html">Villa</a></h3>
							<div class="text">Éliminez la fracture numérique grâce à des clics supplémentaires de DevOps. L'initiative nanotechnologique le long de l'autoroute de 
                                l'information bouclera la boucle.</div>
							<a href="commercial-interior.html" class="read-more">En savoir plus</a>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>
	<!-- End Story Section -->
	
	<!--Main Footer-->
    <footer class="main-footer">
		<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget logo-widget">
									<div class="logo">
                                    	<a href="index-2.html"><img src="assets/images/CaptureS.SPNG.PNG" alt="" /></a>
                                    </div>
                                    <div class="text">SENEGINDIA SA est une entreprise specialisee dans la location 
										et la vente de biens immobiliers. Elle a de bonnes fonctionnalités et vous allez adorer.</div>
                                    <ul class="social-icons">
                                        <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                        <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                    </ul>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget links-widget">
                                	<h2>Liens rapides</h2>
									<div class="widget-content">
										<ul class="list">
                                        	<li><a href="#">À propos de Gaille</a></li>
                                            <li><a href="#">Politique de confidentialité</a></li>
                                            <li><a href="#">Termes et conditions</a></li>
                                            <li><a href="#">FAQ</a></li>
                                        </ul>
                                    </div>
								</div>
							</div>
						
						</div>
					</div>
					
					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">
                        
                            <!--Footer Column-->
                            <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                                <div class="footer-widget contact-widget">
									<h2>Informations contacts</h2>
									<div class="widget-content">
										<a href="tel:1800-574-9687" class="contact-number">338208432</a>
										<ul>
											<li>Almadies, SENEDINDIA SA</li>
											<li>Email :<a href="mailto:info@stellaorre.com">senegindia.sn</a></li>
										</ul>
									</div>
								</div>
							</div>
							
							<!--Footer Column-->
                            <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                                <div class="footer-widget newsletter-widget">
                                	<h2>Bulletin</h2>
									<div class="text">Obtenez des offres spéciales et des réductions</div>
									<!-- Newsletter Form -->
									<div class="newsletter-form">
										<form method="post" action="templateshub.net">
											<div class="form-group">
												<input type="email" name="email" value="" placeholder="Enter your email address" required>
												<button type="submit" class="theme-btn btn-style-one"><span class="txt">S'inscrire</span></button>
											</div>
										</form>
									</div>
								</div>
							</div>
						
						</div>
					</div>
					
				</div>
			</div>
			
			
			<!--Footer Bottom-->
			
		</div>
	</footer>
	
</div>  
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<!--Search Popup-->
<div id="search-popup" class="search-popup">
	<div class="close-search theme-btn"><span class="flaticon-cancel"></span></div>
	<div class="popup-inner">
		<div class="overlay-layer"></div>
    	<div class="search-form">
        	<form method="post" action="templateshub.net">
            	<div class="form-group">
                	<fieldset>
                        <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                        <input type="submit" value="Search Now!" class="theme-btn">
                    </fieldset>
                </div>
            </form>
            
            <br>
            <h3>Recent Search Keywords</h3>
            <ul class="recent-searches">
                <li><a href="#">Home Interiors</a></li>
                <li><a href="#">Offices Interiors</a></li>
                <li><a href="#">Showroom Interiors</a></li>
                <li><a href="#">Building Interiors</a></li>
                <li><a href="#">Shops Interiors</a></li>
            </ul>
        
        </div>
        
    </div>
</div>